:root {
    --bs-heading-color: #1D9B65;

    /*propioak*/
    --primary-bg:#1D9B65;
    --primary-color:#FFF;
    --primary-hover-bg:#F4F9F6;
}

.accordion-item{
    background-color:var(--primary-bg);
}

.accordion{
    --bs-accordion-bg:var(--primary-bg);
}

.accordion-button{
    color:var(--primary-color);
}

.accordion-body{
    background-color:var(--primary-hover-bg);
}