:root {
    --bs-heading-color: #1D9B65;

    /*propioak*/
    --primary-bg:#1D9B65;
    --primary-color:#FFF;
}

.accordion-item{
    background-color:var(--primary-bg)!important;
}

.accordion{
    --bs-accordion-bg:var(--primary-bg)!important;
}

.accordion-button{
    color:var(--primary-color)!important;
}